/* Genel Navbar Stilleri */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 6rem;
  background-color: white;
  border-bottom: 1px solid #ddd;
  position: relative;
}

.navbar.dark-theme {
  background-color: #091017;
  border-bottom: 1px solid rgba(101, 119, 134, 0.2);
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-links {
  display: flex;
  gap: 1rem;
}

.navbar-button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #5558fd;
  color: white;
  border-radius: 0.25rem;
  cursor: pointer;
}

.shadow {
  -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7)) !important;
}

.navbar-button.first {
  background-color: transparent;
  color: #161d28;
  font-weight: 600;
  border: 1px solid rgb(231, 231, 231);
}

.navbar-button.first.dark-theme {
  background-color: transparent;
  color: white;
  font-weight: 600;
  border: 1px solid rgba(101, 119, 134, 0.2);
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger .line {
  width: 18px;
  height: 2px;
  background-color: grey;
  opacity: 0.5;
}

.navbar-left-side-wrapper {
  display: flex;
  align-items: center;
  gap: 24px;
  max-height: 33.5px;
  padding: 8px 16px;
  height: 100dvh;
}

.navbar-responsive-mobile-content {
  display: none;
}

/* Responsive Stiller */
@media (max-width: 768px) {
  .navbar {
    padding: 1rem 0rem;
    flex-direction: row;
    width: 100%;
  }

  .navbar-brand {
    font-size: 1.25rem;
  }

  .navbar-links {
    display: none;
  }

  .hamburger {
    display: flex;
  }

  .navbar-responsive-mobile-content button {
    max-width: 50%;
    width: 100%;
  }

  .navbar-responsive-mobile-content {
    position: absolute;
    left: 0;
    max-width: 50%;
    width: 100%;
    min-width: 280px;
    height: 100dvh;
    min-height: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-shrink: 1;
    flex-grow: 1;
    overflow-y: auto;
    z-index: 2;
    pointer-events: auto;
  }
}

/* login modal styling */
.header_modal {
  height: 53px;
  background-color: white;
  position: relative;
  transition: box-shadow 250ms ease 0s;
}
.scroll_active {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 10px 0px;
}

.login-modal-content,
.signup-modal-content {
  padding: 20px;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #333;
}

.input-group input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-button,
.signup-button {
  width: 100%;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  color: white;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 16px;
  cursor: pointer;
  background-color: transparent;
  color: #161d28;
  font-weight: 600;
  border: 1px solid rgb(231, 231, 231);
}

.login-button.dark-theme,
.signup-button.dark-theme {
  color: white;
}

.login-button:hover,
.signup-button:hover {
  background-color: #5558fd !important;
  transition: color 0.25s ease 0s, background-color 0.25s ease 0s;
  color: white !important;
  cursor: pointer;
}

.error-message {
  font-size: 12px;
  line-height: 20px;
  color: rgb(200, 36, 0);
  font-weight: 500;
}

/* sidenavbar styling */
.navbar-responsive-mobile {
  position: fixed;
  display: flex;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  z-index: 2;
}

@keyframes navbar-responsive-mobile-content-animation {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes navbar-responsive-mobile-content-animation-close {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.navbar-responsive-mobile-content.active {
  animation-name: navbar-responsive-mobile-content-animation;
  animation-duration: 250ms;
  animation-timing-function: ease;
}
.navbar-responsive-mobile-content.close {
  animation-name: navbar-responsive-mobile-content-animation-close;
  animation-duration: 250ms;
  animation-timing-function: ease;
}

#authenticationType-input,
#password-input,
#name-input,
#username-input,
#email-input,
#password-input {
  border-radius: 5px;
  border: 1px solid rgb(231, 231, 231);
  outline-style: none;
  width: 100%;
}
